button{
    font-family:cursive;
    text-align: center;
    height: 30px;
    background-color: mediumblue;
    color: white;
    text-decoration: none;
    border: none;
}
input{
    font-family:cursive;
    background-color: aliceblue;
    height: 30px;
    border: solid;
    border-color: mediumblue;
}


